<app-menu></app-menu>
<div class="component" id="request-create">
    
    <table class="table table-striped">
        <tr>
            <th>ID: </th>
            <th>Description</th>
            <th> Justification</th>
            <th>Rejection Reason</th>
            <th>Delivery Mode</th>
            <th>Status</th>
            <th>Total</th>
            <th>Requester</th>
        </tr>
        <tr>
            <td>{{request.id}}</td>
            <td>{{request.description}}</td>
            <td>{{request.justification}}</td>
            <td>{{request.rejectionReason}}</td>
            <td>{{request.deliveryMode}}</td>
            <td>{{request.status}}</td>
            <td>{{request.total}}</td>
            <td>{{request.user.username}}</td>
    </table>
<button class="btn btn-warning" routerLink="/request/edit/{{request.id}}"> Edit Request </button> |
<button (click)="approve()" class="btn btn-success"> Approve Request</button> |
<button (click)="reject()" class="btn btn-danger"> Reject Request</button> |
<button (click)="delete()" class="btn btn-danger"> Delete Request </button> | 
<button class="btn btn-info" routerLink = "/reqline/create/{{request.id}}"> Add Request Line</button>
</div>
<hr>
<app-reqline-list> </app-reqline-list>
