<app-menu> </app-menu>
<div class="component">
    <h3>Users List</h3>
    <input [(ngModel)]="searchCriteria" type="text" class="form-control" placeholder="Search for a user">
    <table class="table table-bordered">
        <tr class="thead-dark">
            <th> ID</th>
            <th> First Name </th>
            <th> Last Name</th>
            <th> Username</th>
            <th> Phone</th>
            <th> Email </th>
            <th> Reviewer</th>
            <th> System Admin</th>
            <th> Actions</th>
        </tr>
        <tr *ngFor = "let u of users | usersSearch:searchCriteria | sort: 'lastname'" > 
            <th> {{u.id}}</th>
            <td> {{u.firstname}}</td>
            <td> {{u.lastname}}</td>
            <td> {{u.username}}</td>
            <td> {{u.phone}}</td>
            <td> {{u.email}}</td>
            <td> {{u.isReviewer ? '☑' : '🚫'}}</td>
            <td> {{u.isAdmin ? '☑' : '🚫'}}</td>
            <td> 
                <a routerLink="/users/detail/{{u.id}}" title="{{u.firstname}} {{u.lastname}} details"> 🔎</a> |
                <a routerLink="/users/edit/{{u.id}}" title="Edit {{u.firstname}} {{u.lastname}}"> 📝</a> |
            </td>

        </tr>
    </table>
    <button class="btn btn-success" routerLink="/users/create"> Create New Student</button>
</div>