
<app-menu> </app-menu>

<div class="component"> 
    <h3>{{user.firstname}} {{user.lastname}} Details</h3> 
    <table class="table table-striped">
        <tr>
            <th> ID: </th>
            <td>
                <input [(ngModel)]="user.id" type="text" disabled> 
            </td>
        </tr>
        <tr>
            <th> First Name:</th>
            <td>
                <input [(ngModel)]="user.firstname" type="text" disabled > 
            </td>
        </tr>
        <tr>
            <th> Last Name: </th>
            <td>
                <input [(ngModel)]="user.lastname" type="text" disabled> 
            </td>
        </tr>
        <tr>
            <th> Username: </th>
            <td>
                <input [(ngModel)]="user.username" type="text" disabled> 
            </td>
        </tr>
        <tr>
            <th> Password: </th>
            <td>
                <input [(ngModel)]="user.password" type="text" disabled> 
            </td>
        </tr>
        <tr>
            <th> Phone: </th>
            <td>
                <input [(ngModel)]="user.phone" type="phone" disabled> 
            </td>
        </tr>
        <tr>
            <th> Email: </th>
            <td>
                <input [(ngModel)]="user.email" type="email" disabled > 
            </td>
        </tr>
        <tr>
            <th> Reviewer: </th>
            <td>
                <input [(ngModel)]="user.isReviewer" type="checkbox" disabled> 
            </td>
        </tr>
        <tr>
            <th> Admin: </th>
            <td>
                <input [(ngModel)]="user.isAdmin" type="checkbox" disabled> 
            </td>
        </tr>
        <tr>
            <td>
                <button (click)="delete()" class="btn btn-danger"> Delete </button> |
                <button routerLink="/users/edit/{{user.id}}" class="btn btn-warning"> Edit </button>
            </td>
        </tr>
    </table>
</div>