<app-menu> </app-menu>
<div class="component"> 
    <h3>Request List</h3> 
    <input [(ngModel)]="searchCriteria" type="text" class="form-control" placeholder="search for a request">
    <table class="table table-bordered">
        <tr class="thead-dark">
            <th> ID</th>
            <th> Description</th>
            <th> Justification</th>
            <th> Rejection Reason</th>
            <th> Delivery Mode</th>
            <th> Status</th>
            <th> Total </th>
            <th> User </th>
            <th> Actions</th>
        </tr>
        <tr *ngFor="let r of requests | requestSearch:searchCriteria | sort: 'status'">
            <td>{{r.id}} </td>
            <td>{{r.description}} </td>
            <td>{{r.justification}} </td>
            <td>{{r.rejectionReason}} </td>
            <td>{{r.deliveryMode}} </td>
            <td>{{r.status}} </td>
            <td>{{r.total}} </td>
            <td>{{r.user.username}}  </td>
            <td> 
                <a routerLink="/request/detail/{{r.id}}" title="{{r.description}} details"> 🔎</a> |
                <a routerLink="/request/edit/{{r.id}}" title="Edit {{r.description}}"> 📝</a> |
            </td>
        </tr>
    </table>
    <button class="btn btn-success" routerLink="/request/create"> Create New Request</button>
</div>

